.button {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  background-color: transparent;
  color: var(--color-blue);
  border: 3px solid var(--color-pink);
  border-radius: 0.3rem;
  width: fit-content;
  cursor: pointer;
}
